//===========< Контейнеры, ограничители >===========

$maxWidthContainer: 1110px;
$menuContainer: 687px;

//===========< / Контейнеры, ограничители >===========

//===========< Главный шрифт >===========

$fontFamily: 'Open Sans';

//===========< / Главный шрифт >===========

//===========< Фон >===========

$back-menu: #497952;
$back-burger: #1D3020;

//===========< / Фон >===========

//===========< Шрифт >===========

$font-size-min: 13px;
$font-size-mid: 14px;
$font-size-max: 16px;

$font-color-white: #FAFFFA;
$font-color-grey: #535353;
$font-color-green: #497952;

//===========< / Шрифт >===========

//===========< Ссылки >===========

$link-color-hover: #fff;
$link-color-active: #0E1810;

//===========< / Ссылки >===========
